[submodule "nod_wrapper/nod"]
	path = nod_wrapper/nod
	url = https://github.com/AxioDL/nod.git
[submodule "libsquish_wrapper/libSquish"]
	path = libsquish_wrapper/libSquish
	url = https://github.com/AxioDL/libSquish
